// Navigation code here
nav {
  text-align: center;
  padding: 20px 0;
  background: lighten(@waterloo, 40%);
  border-bottom: 1px solid lighten(@waterloo, 35%);

  h1 {
    font-size: 3.6rem;
    margin-bottom: 20px;
  }

  .nav-elements {
    padding: 0 20%;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
    }
  }

  @media only screen and @phone {
    .nav-elements {
      padding: 0;
      justify-content: space-around;
    }
  }

  @media only screen and @desktop {
    .nav-elements {
      width: 800px;
      padding: 0 165px;
      margin: auto;
    }
  }
}
